.one {
  height: auto;
}

.two {
  height: 200px;
  width: 200px;
}

.three {
  height: 300px;
  width: 300px;
  background-color: powderblue;
}
h1{
  color:#66BFBF;
}
h3{
  color:RED;
}
img{
  opacity: 0.5
}
img:hover{
  opacity: 1
}
